@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}


body {
    font-family: Josefin Sans;
    font-weight: 400;
}

.container {
    width: 1140px;
    margin: 0px auto;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 950px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 700px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 500px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
}

/* Header Start */

.header-top {
    width: 100%;
    height: 100px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top .navbar-logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.header-top .navbar-logo h3 {
    color: #fff;
}

.header-top nav ul {
    display: flex;
}

.header-top nav {
    margin-right: 20px;
}

.header-top nav ul li {
    padding: 15px;
}

.header-top nav ul li a {
    font-size: 18px;
    color: white;
}

.header-top nav ul li a:hover {
    text-decoration: underline;
}


.header-top nav ul li .btn:hover {
    text-decoration: none;
}

.header-top nav ul .activ:hover {
    text-decoration: underline;
}

.header-top nav ul .activ {
    text-decoration: underline;
}


.header-top nav ul li .btn {
    padding: 13px 25px;
    background-color: rgb(255, 135, 12);
    color: #000;

}

.header-top i {
    display: none;
}

.navbar-logo img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

@media screen and (max-width: 768px) {

    /* header nav .btn{
        display: none;
    } */
    header nav {
        /* position: fixed;
        top: 0px;
        left: 0px;
        width: 380px;
        height: 100vh;
        background-color: #000;
        z-index: 200;
        display: block; */
        display: none;

    }

    /* body{
    overflow: hidden;
   }

   header nav ul{
    display: flex;
    flex-direction: column;
    margin: 60px 10px;

    row-gap: 30px;
   }
    */
    .header-top .nav-hamburger {
        display: inline-block;
        color: white;
        font-size: 18px;
        margin-right: 30px;
    }
}




/* Header End */


/* Blog-image Start */

.blog-image {
    background-image: url(../img/imageProxy\ \(1\).webp);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.blog-title {
    width: 630px;
    text-align: center;
}

.blog-title h1 {
    font-size: 48px;
    color: white;
}


.blog-title h4 {
    font-size: 24px;
    color: white;
}

.blog-title p {
    color: white;
}

.blog-title a {
    color: #000;
}

.backcolor {
    background-color: rgb(4, 67, 138);
    width: 100%;
    height: 100vh;
    opacity: 0.6;
    position: absolute;
}

.blog-image {
    position: relative;
}

.blog-title {
    position: relative;
}


.blog-title h4 {
    padding-top: 15px;

}

.blog-title p {
    padding-top: 15px;
    margin-bottom: 40px;
    line-height: 1.4;
}

.blog-title a {
    padding: 15px 30px;
    background-color: #fff;
}

@media screen and (max-width: 1500px) {
    .blog-image {
        width: 100%;
        height: 70vh;
    }

    .backcolor {
        width: 100%;
        height: 70vh;
    }

}

@media screen and (max-width: 576px) {
    .blog-title {
        width: 550px;
        font-size: 16px;
    }

}


/* Blog-image End */



/* Featured Start */

.featured-container {
    padding: 20px;
}


.featured-top {
    text-align: center;
    margin-top: 25px;
    padding-top: 25px;
}


.featured-bottom {
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;

}

.featured-card {
    width: calc(100% / 3 - 15px);

}

.featured-card .card-image img {
    width: 335px;
    height: 240px;
    object-fit: cover;
}

.card-info {
    margin-top: 20px;
    line-height: 20px;
    font-family: Josefin Sans;
    font-weight: 400;
    text-align: center;

}

.card-info h3 {
    padding-bottom: 15px;
}

.card-info p {
    padding-top: 15px;
    padding-bottom: 30px;

}

.card-info a {
    padding: 10px 30px;
    background-color: #5D2F00;
    color: #fff;
}

@media screen and (max-width: 1200px) {
    .featured-bottom {
        padding: 50px 0px;
        column-gap: 15px;
    }

    .featured-card .card-image img {
        width: 290px;
        height: 220px;
        object-fit: cover;

    }



    .card-info {
        padding: 10px;
    }
}

@media screen and (max-width: 992px) {
    .featured-bottom {
        padding: 0px;
    }


    .featured-card {
        width: calc(100% / 3 - 30px);

    }

    .featured-card .card-image img {
        width: 210px;
        height: 157px;
        object-fit: cover;

    }

    .card-info {
        padding: 0px;
        font-size: 16px;
        width: 210px;
    }
}

@media screen and (max-width: 768px) {
    .featured-bottom {
        padding: 40px 0px;
        flex-wrap: wrap;
        row-gap: 45px;
    }


    .featured-card {
        width: calc(100% / 2 - 30px);

    }

    .featured-card .card-image img {
        width: 240px;
        height: 180px;
        object-fit: cover;

    }

    .card-info {
        padding: 0px;
        font-size: 16px;
        width: 240px;
    }
}


@media screen and (max-width: 576px) {


    .featured-bottom {
        /* padding: 40px 0px; */
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        row-gap: 45px;

    }


    .featured-card {
        width: 100%;

    }

    .featured-card .card-image img {
        width: 100%;
        height: 290px;


    }

    .card-info {
        font-size: 16px;
        width: 100%;
    }
}

/* Featured End */


/* Followme Start*/

.followme {
    width: 100%;
    height: 530px;
    background-color: rgb(4, 67, 138);
    margin-top: 90px;
    padding-top: 50px;
}

.followme-container {
    /* padding: 24px; */
}


.followme-top {
    padding-left: 0px;
    padding-bottom: 15px;

}

.followme-top h2 {
    color: white;
    padding-bottom: 15px;
    font-family: Josefin Sans;
    font-size: 36px;
    font-weight: 700;
}

.followme-top a {
    color: white;

}

.followme-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}

.follow-image {
    width: calc(100% / 4);

}

.follow-image img {
    width: 275px;
    height: 275px;
    object-fit: cover;
}

@media screen and (max-width: 1200px) {
    .followme-top {
        margin-left: 0px;
    }



    .follow-image img {
        width: 226px;
        height: 226px;
    }

}

@media screen and (max-width: 992px) {
    .followme {
        height: 650px;
    }

    .followme-top {
        margin-left: 0px;
    }

    .followme-bottom {
        flex-wrap: wrap;
        row-gap: 5px;
    }

    .follow-image {
        width: calc(100% / 3 - 0px);

    }

    .follow-image img {
        width: 224px;
        height: 224px;
        object-fit: cover;
    }


}


@media screen and (max-width: 768px) {
    .followme {
        height: 710px;
    }

    .followme-bottom {
        flex-wrap: wrap;
        row-gap: 5px;
    }

    .follow-image {
        width: calc(100% / 2 - 10px);

    }

    .follow-image img {
        width: 251px;
        height: 251px;
        object-fit: cover;
    }


}


@media screen and (max-width: 576px) {
    .followme {
        height: 2150px;
        margin: 20px 0px;
    }

    .followme-container {
        padding: 20px
    }

    .followme-bottom {
        flex-wrap: wrap;
        row-gap: 5px;
    }

    .follow-image {
        width: 100%;

    }

    .follow-image img {
        width: 100%;
        height: 485px;
        object-fit: cover;
    }


}

/* Followme End */


/* Footer Start */

.footer-main {
    width: 100%;
    height: 580px;
    background-color: #000;
    font-family: Josefin Sans;
    font-weight: 400;
}

.footer-main .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 24px;  */
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}


.footer-logo {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-left: 50px;

}

.footer-logo img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.footer-logo h3 {
    color: white;
}

.footer-contact {
    padding-top: 15px;
    line-height: 30px;
}

.footer-contact p,
a {
    color: #fff;
}

.footermain-medium {
    margin-top: 40px;
    padding-top: 30px;
}

.footermain-medium p {
    color: white;
}


.footermain-bootom {
    margin-top: 60px;
    padding-top: 60px;
}

.footermain-bootom p,
svg {
    color: white;
    padding-top: 10px;
}

/* Footer End */